<h1>Список тем</h1>

<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>Название</th>
    <th>Описание</th>
    <th>Количество часов</th>
    <th>Курс</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.name %></td>
        <td><%= topic.description %></td>
        <td><%= topic.hours %></td>
        <td><%= topic.course.name %></td>
        <td><%= link_to 'Показать', topic %></td>
        <td><%= link_to 'Редактировать', edit_topic_path(topic) %></td>
        <td><%= link_to 'Удалить', topic, method: :delete, data: {confirm: 'Вы уверены?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая тема', new_topic_path %>
