<p>
  <strong>Название:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @topic.description %>
</p>

<p>
  <strong>Количество часов:</strong>
  <%= @topic.hours %>
</p>

<p>
  <strong>Курс:</strong>
  <%= @topic.course.name %>
</p>

<%= link_to 'Редактировать', edit_topic_path(@topic) %> |
<%= link_to 'Назад', topics_path %>
