<p>
  <strong>Название:</strong>
  <%= course.name %>
</p>

<p>
  <strong>Тип проведения:</strong>
  <%= course.typed %>
</p>

<p>
  <strong>Вид проведения:</strong>
  <%= course.view %>
</p>

<p>
  <strong>Дата начала:</strong>
  <%= course.start_date %>
</p>

<p>
  <strong>Дата окончания:</strong>
  <%= course.end_date %>
</p>

<p>
  <strong>Период:</strong>
  <%= course.period %>
</p>

<p>
  <strong>Количество часов:</strong>
  <%= course.hours %>
</p>

<p>
  <strong>На базе:</strong>
  <%= course.based %>
</p>

<p>
  <strong>Вид выпускного экзамена:</strong>
  <%= course.outlet_control %>
</p>

<p>
  <strong>Вид выдаваемого документа:</strong>
  <%= course.certificate %>
</p>

<p>
  <strong>Цена:</strong>
  <%= course.cost %>
</p>
