<h1>Список курсов</h1>

<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>Название</th>
    <th>Тип проведения</th>
    <th>Вид проведения</th>
    <th>Срок обучения</th>
    <th>Количество часов</th>
    <th>На базе</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.typed %></td>
        <td><%= course.view %></td>
        <td><%= course.period %></td>
        <td><%= course.hours %></td>
        <td><%= course.based %></td>
        <td><%= link_to '', course, class: "icon-search" %></td>
        <td><%= link_to '', edit_course_path(course), class: "icon-pencil" %></td>
        <td><%= link_to '', course, method: :delete, data: {confirm: 'Вы действительно хотите удалить?'}, class: "icon-remove" %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= render 'search_form' %>
<%= link_to 'Новый курс', new_course_path %>
