<p>
  <strong>Название:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Тип проведения:</strong>
  <%= @course.typed %>
</p>

<p>
  <strong>Вид проведения:</strong>
  <%= @course.view %>
</p>

<p>
  <strong>Дата начала:</strong>
  <%= @course.start_date.strftime("%F") %>
</p>

<p>
  <strong>Дата окончания:</strong>
  <%= @course.end_date.strftime("%F") %>
</p>

<p>
  <strong>Период:</strong>
  <%= @course.period %>
</p>

<p>
  <strong>Количество часов:</strong>
  <%= @course.hours %>
</p>

<p>
  <strong>На базе:</strong>
  <%= @course.based %>
</p>
<p>
  <strong>Темы:</strong>
  <% for topic in @course.topics %>
      <%= topic.name %>,
  <% end %>
</p>
<p>
  <strong>Вид выпускного экзамена:</strong>
  <%= @course.outlet_control %>
</p>

<p>
  <strong>Вид выдаваемого документа:</strong>
  <%= @course.certificate %>
</p>

<p>
  <strong>Цена:</strong>
  <%= @course.cost %>
</p>

</div>
<%= link_to 'Редактировать', edit_course_path(@course) %> |
<%= link_to 'Назад', courses_path %>
<table class="table">
  <thead>
  <tr>
    <th>№</th>
    <th>ФИО</th>
  </tr>
  </thead>
  <tbody>
  <% @course.users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.fio %></td>
      </tr>
  <% end %>
  </tbody>
</table>
