<%= form_for(@certificate) do |f| %>
    <% if @certificate.errors.any? %>
        <div id="error_explanation">

          <ul>
            <% @certificate.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name, 'Название' %>
      <br>
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit 'Подтвердить' %>
    </div>
<% end %>
