<h1>Listing certificates</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @certificates.each do |certificate| %>
      <tr>
        <td><%= certificate.name %></td>
        <td><%= link_to 'Показать', certificate %></td>
        <td><%= link_to 'Редактировать', edit_certificate_path(certificate) %></td>
        <td><%= link_to 'Удалить', certificate, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый сертификат', new_certificate_path %>
