<h1>Listing organizations</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Site</th>
      <th>Serial</th>
      <th>Number</th>
      <th>Certificate</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.address %></td>
        <td><%= organization.phone %></td>
        <td><%= organization.email %></td>
        <td><%= organization.site %></td>
        <td><%= organization.serial %></td>
        <td><%= organization.number %></td>
        <td><%= organization.certificate %></td>
        <td><%= link_to 'Показать', organization %></td>
        <td><%= link_to 'Редактировать', edit_organization_path(organization) %></td>
        <td><%= link_to 'Удалить', organization, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
