<h1>Listing outlet_controls</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @outlet_controls.each do |outlet_control| %>
      <tr>
        <td><%= outlet_control.name %></td>
        <td><%= link_to 'Show', outlet_control %></td>
        <td><%= link_to 'Edit', edit_outlet_control_path(outlet_control) %></td>
        <td><%= link_to 'Destroy', outlet_control, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Outlet control', new_outlet_control_path %>
